<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.wc.dao.AccountDao">
    <resultMap id="BaseResultMap" type="com.shsxt.wc.entity.Account">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="aname" property="aname" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DOUBLE"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, aname, type, money, remark, user_id, create_time, update_time
  </sql>
    <sql id="whereClause">
        where 1 = 1
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="aname != null">
            and aname = #{aname,jdbcType=VARCHAR}
        </if>
        <if test="type != null">
            and type = #{type,jdbcType=VARCHAR}
        </if>
        <if test="money != null">
            and money = #{money,jdbcType=DOUBLE}
        </if>
        <if test="remark != null">
            and remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="userId != null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=DATE}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=DATE}
        </if>
    </sql>
    <sql id="sort">
        <if test="orderByStr != null">
            order by ${orderByStr}
        </if>
    </sql>
    <sql id="lock">
        <if test="lock != null and lock == true">
            for update
        </if>
    </sql>
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_account
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="delete" parameterType="java.lang.Integer">
    delete from t_account
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from t_account
        <include refid="whereClause"/>
    </select>
    <select id="findOne" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_account
        <include refid="whereClause"/>
        <include refid="sort"/>
        <include refid="lock"/>
    </select>
    <select id="find" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_account
        <include refid="whereClause"/>
        <include refid="sort"/>
        <include refid="lock"/>
    </select>
    <insert id="save" parameterType="com.shsxt.wc.entity.Account" useGeneratedKeys="true" keyProperty="id">
    insert into t_account (aname, type, money, 
      remark, user_id, create_time, 
      update_time)
    values (#{aname,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{remark,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE})
  </insert>
    <insert id="saveSte" parameterType="com.shsxt.wc.entity.Account" useGeneratedKeys="true" keyProperty="id">
        insert into t_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aname != null">
                aname,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aname != null">
                #{aname,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateSte" parameterType="com.shsxt.wc.entity.Account">
        update t_account
        <set>
            <if test="aname != null">
                aname = #{aname,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DOUBLE},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="com.shsxt.wc.entity.Account">
    update t_account
    set aname = #{aname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      remark = #{remark,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>